modal button.md-close {
  margin-top: 40px;
}
.md-modal svg {
  color: #fff;
}
.md-modal .fa-chevron-right {
  right: 0;
}
.md-modal {
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  max-width: 100vw;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.md-show {
  visibility: visible;
}
.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: #353536;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}
.md-effect-12 .md-content {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.md-show.md-effect-12 ~ .md-overlay {
  background-color: #353536;
}
.md-effect-12 .md-content,
.md-effect-12 .md-content h3 {
  background: 0 0;
}
.md-show.md-effect-12 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.preloader-main {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
}
.preloader-main .preloader-wapper {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.preloader-main .loader-section {
  position: fixed;
  top: 0;
  height: 100%;
  width: calc(50% + 1px);
  background-color: #fff;
}
.preloader-main .loader-section.section-left {
  left: 0;
}
.preloader-main .loader-section.section-right {
  right: 0;
}
.preloader-main .preloader {
  position: relative;
  display: block;
  height: 5rem;
  width: 10.625rem;
  top: -2.5rem;
  z-index: 99;
}
.preloader-main .loaded .section-right {
  -webkit-transform: translateX(101%);
  transform: translateX(101%);
  -webkit-transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}
.preloader-main .loaded .section-left {
  -webkit-transform: translateX(-101%);
  transform: translateX(-101%);
  -webkit-transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}
.preloader-main .loaded .preloader {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}
.preloader-main circle.dot:nth-of-type(1) {
  -webkit-animation: slide 2s ease infinite;
  animation: slide 2s ease infinite;
}
.preloader-main circle.dot:nth-of-type(2) {
  -webkit-transform: translateX(3.4375rem);
  transform: translateX(3.4375rem);
  -webkit-animation: slide 2s ease infinite;
  animation: slide 2s ease infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes slide {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(4.375rem);
    transform: translateX(4.375rem);
  }
}
@keyframes slide {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(4.375rem);
    transform: translateX(4.375rem);
  }
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: 0;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:after,
.slick-track:before {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-track {
  display: flex;
}
.slick-arrow.slick-hidden {
  display: none;
}
.changa-card-container .fa-chevron-left,
.fa-chevron-left {
  position: absolute;
  cursor: pointer;
  left: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 100%;
  z-index: 11;
}
.changa-card-container .fa-chevron-right,
.fa-chevron-right {
  cursor: pointer;
  position: absolute;
  right: -6px;
  width: 40px;
  height: 100%;
  display: flex !important;
  justify-content: center;
  top: 0;
  right: 0;
  align-items: center;
}
.changa-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 80px 15px;
  min-width: 300px;
  background: #353536;
}
.changa-main {
  max-width: 674px;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.075);
  border-radius: 6px;
  font-family: Roboto, sans-serif;
}
.changa-card-container {
  width: 100%;
  height: 260px;
}
.changa-card-container .changa-card-container-item {
  max-width: 100%;
  width: 250px;
  height: 154px;
  position: relative;
  height: auto;
  margin: 4px 6px;
  cursor: pointer;
  display: flex !important;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.075);
}
.description {
  color: #fff;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  min-height: 60px;
  font-size: 12px;
  line-height: 1.6;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.8) 50%
  );
  bottom: 0;
  position: absolute;
  left: 0;
  z-index: 11;
  border-radius: 12px;
}
.changa-card-container-item .video-player {
  object-fit: unset;
  max-width: 100%;
  width: 100%;
  border-radius: 12px;
  height: 250px;
}
.footer {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6d7278 !important;
}
.footer img {
  margin-right: 8px;
  height: 22px !important;
  border-radius: 5px !important;
}
.modal-content {
  padding: 0;
  margin: 0;
  background-color: #353536;
  box-sizing: border-box;
  border: 2px solid #333;
}
.modal-content-item {
  min-height: 520px;
  max-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: #000;
  display: flex !important;
  justify-content: center;
  align-content: center;
  position: relative;
}
.modal-content-item .description {
  display: flex;
  justify-content: center;
  border-radius: 0;
}
.video-player {
  max-width: 100%;
}
.modal-content {
  max-width: 300px;
  max-width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.md-close {
  width: 900px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  z-index: 111111;
  top: 8%;
}
.md-close i {
  color: #666 !important;
}
.md-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.md-modal .fa img {
  height: 40px;
}

.md-close svg {
  cursor: pointer;
  height: 21px;
  width: 21px;
}

.changa-card-container .fa img {
  width: 100%;
}

.cha {
  font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

.fa-chevron-left::before {
  content: "";
  position: absolute;
}

.fa-chevron-right::before {
  content: none;
}

.description {
  transition: opacity 0.2s;
}
.modal-content-item video {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
  display: block;
}

.changa-card-container-item:focus {
  outline: none;
}
.modal-content.vertical .slick-track {
  flex-direction: column;
}

.changa-card-container-item.slick-slide {
  background-color: #000;
  width: 154px;
}

.slick-slide {
  transition: opacity 0.5s ease-out;
}

.slick-active {
  opacity: 1 !important;
  transition: opacity 0.5s ease-in;
}

.slick-cloned {
  opacity: 0.3;
}
.description p {
  color: #fff;
  font-size: inherit;
}

.modal-content-item .description p {
  color: #fff;
  line-height: 1.7;
  font-size: 14px;
}

.changa-card-container-item:hover .description {
  display: none;
}
.video-player {
  position: relative;
}
.video-player.pause:content {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "play";
}
.changa-card-container .fa {
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
  height: calc(100% - 8px);
  top: 4px;
  border-radius: 0 12px 12px 0;
}
.changa-card-container .fa.fa-chevron-left {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
  border-radius: 12px 0 0 12px;
}

.changa-card-container .fa.fa-chevron-left:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), transparent);
}
.changa-card-container .fa:hover {
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75));
}

@media screen and (max-width: 900px) {
  .changa-card-container-item .video-player {
    height: 100%;
  }
  .changa-card-container-item {
    height: 300px;
    background-color: #000;
  }
  .changa-card-container-item.slick-slide {
    width: 240px;
    height: 400px;
  }
  .changa-main {
    box-shadow: none;
  }
  .modal-content-item .description .user-info {
    display: none;
  }
  .changa-card-container {
    height: auto;
  }
  .md-close {
    max-width: 100%;
    top: 15px;
    padding-right: 15px;
  }
  .md-close svg {
    padding: 5px;
    background: #fff;
    color: #000;
    border-radius: 50%;
  }
  .modal-content {
    border: 1px solid #000;
  }
}

@media screen and (max-width: 480px) {
  .modal-content {
    width: 100vw;
    max-width: 100vw;
  }
  .modal-content-item {
    width: 100% !important;
    max-width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
  .md-modal {
    top: 0;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
  }
  .md-close {
    right: unset;
    top: 10px;
  }
  .changa-card-container i {
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
  }
  .md-close i {
    color: #000;
  }
}

@media screen and (min-width: 900px) {
  .modal-content {
    width: 850px;
    height: 80vh !important;
  }

  .modal-content-item .description {
    background: #333;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px;
    font-size: 16px;
    width: 350px;
    border-radius: 0 15px 15px 0;
  }
  .modal-content-item .description .user-info {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }

  .modal-content-item .description .user-info .name {
    color: #fff;
  }
  .modal-content-item .description .user-info .name:hover {
    color: #fff;
    text-decoration: underline;
  }

  .modal-content-item .description .user-info img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .modal-content-item .video-slider {
    width: auto;
    position: absolute;
    right: 0;
    height: 100%;
    background: #000;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
  }

  .modal-content-item video {
    height: 100%;
    width: auto;
  }
  .modal-content-item .video-container {
    width: 500px;
    position: relative;
  }

  .modal-content {
    justify-content: center;
    align-items: center;
    display: flex;
    background: none;
    border: none;
  }
  .md-overlay {
    background: rgba(0, 0, 0, 0.6);
    transition: none;
  }
  .slick-list.draggable,
  .slick-list.draggable .slick-track {
    height: 100%;
    width: 100%;
  }
  .fa-chevron-right {
    right: 10px;
  }
  .modal-content-item.slick-slide {
    opacity: 1;
  }
  .modal-content-item {
    outline: none;
  }
}
